<div class="content-container">
  <form>
    <img src="images/guaxinim.png" alt="F.CUSTOM" class="mascote">

    <h1>Bem-vindo</h1>
    <p>Entre para continuar comprando</p>

    <label for="email">E-mail</label>
    <input class="input-simples" id="email" name="email"
      type="email" placeholder="" />

    <div class="linha-senha">
      <label for="input-senha">Senha</label>
    </div>
    <input class="input-simples" id="input-senha" name="input-senha"
      type="password" placeholder="" />
    
    <div class="linha-senha">
        <label for="input-senha">Confirmar senha</label>
    </div>
    <input class="input-simples" id="input-senha" name="input-senha"
      type="password" placeholder="" />

    <button type="submit" class="input-submeter">Cadastrar</button>

  </form>
</div>