.pagina-categoria {
    min-height: 320px;
    padding: 80px 8%;
    text-align: center;
}

.pagina-categoria h1 {
    color: #0878ff;
    font-size: 32px;
    margin-bottom: 10px;
}

.pagina-categoria p {
    font-size: 13px;
    color: #555;
}