<header>
  <div class="logo">
    <a routerLink="/home">F.CUSTOM</a>
  </div>

  <div class="pesquisa">
    <input type="text" placeholder="Pesquisar produto">
    <span>⌕</span>
  </div>

  <div class="opcoes">
    <div class="fale-conosco">
      <img src="/images/faleConosco.jpg" alt="Fale Conosco">
      <span>Fale Conosco</span>
    </div>

    <div class="usuario">

      <div class="usuario-link">
        <span class="icone"><img src="/images/usuario.png" class="icone" alt="Usuário"></span>
      </div>

      <div class="dropdown">
        <a routerLink="/login">Entrar</a>
        <a routerLink="/register">Criar conta</a>
      </div>

    </div>

    <img class="icone" src="/images/carrinho.png" alt="Carrinho">

    <a routerLink="/login"> 
      <img src="/images/usuario.png" class="icone usuario" alt="Usuário"> </a>
  </div>
</header>
