header {
    height: 48px;

    display: flex;
    align-items: center;

    border-bottom: 1px solid #ccc;

    padding: 0 25px;
}


/* logo */

.logo {
    width: 25%;
  
}

.logo a{
    width: 25%;
    color: #0878ff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}


/* barra pesquisa */

.pesquisa {
    width: 50%;

    position: relative;
}

.pesquisa input {
    width: 100%;
    height: 25px;

    cursor: pointer;

    border: 1px solid #aaa;
    border-radius: 15px;

    padding: 5px 15px;

    outline: none;
}

.pesquisa input:hover{
    border: 1px solid black;
}

.pesquisa span {
    position: absolute;

    right: 10px;
    top: 3px;

    color: #777;
}



.opcoes {
    width: 25%;

    display: flex;

    justify-content: flex-end;
    align-items: center;

    gap: 15px;

    font-size: 10px;
}

/* fale conosco */

.fale-conosco {
    display: flex;

    align-items: center;

    gap: 4px;
}


.fale-conosco img {
    width: 14px;
    height: 14px;

    object-fit: contain;
}


.icone {
    width: 20px;
    height: 20px;

    object-fit: contain;
}

/* menu */

.usuario {
   position: relative;
   height: 48px;
}

.usuario-link {
    height: 48px;

    display: flex;
    align-items: center;
    gap: 8px;

    padding: 0 16px;

    cursor: pointer;
}

.dropdown {
    position: absolute;

    top: 48px;
    right: 0;

    width: 180px;

    background-color: white;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

    display: none;

    z-index: 1000;
}

.dropdown a{
    display: block;

    padding: 16px;

    color: #333;

    text-decoration: none;

    font-size: 14px;
    transition: background-color .15s;
}

/* efeito links */

.dropdown a:hover{
    display: block;
    background-color: #f2f2f2;
}

/* mostra menu hover */
.usuario:hover .dropdown{
    display: block;
}

.link-admin {
    font-size: 14px;
    color: #475569;
    text-decoration: none;
    margin-left: 15px;
    white-space: nowrap;
}

.link-admin:hover {
    color: #0055b8;
}