.beneficios {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    background-color: white;
}

.beneficio {
    width: 100px;
    text-align: center;
}

.beneficio img {
    width: 45px;
    height: 45px;
    object-fit: contain;
    display: block;
    margin: 0 auto 5px;
}

.beneficio p {
    font-size: 9px;
    margin: 0;
}