<div class="rodape-coluna-esquerda">
  <div class="rodape-logo">F.CUSTOM</div>
  <p>
    F.CUSTOM é atualmente a maior rede de moda personalizada nacional, onde você não se limita a roupas padronizadas. Aqui o limite é a sua ideia.
  </p>

  <div class="rodape-contato">
    <img src="/images/mdi_telephone.png" alt="Telefone fixo">
    <div>
      <span>Telefone fixo</span>
      <strong>1234-5678</strong>
    </div>
  </div>

  <div class="rodape-contato">
    <img src="/images/whatsappIcon.png" alt="Whatsapp">
    <div>
      <span>Whatsapp</span>
      <strong>1234-5678</strong>
    </div>
  </div>

  <div class="rodape-redes-sociais">
    <p>Nos siga nas redes sociais</p>
    <div class="rodape-icones-redes">
      <img src="/images/instagram.jpg" alt="Instagram">
      <img src="/images/facebook.jpg" alt="Facebook">
      <img src="/images/tiktok.jpg" alt="TikTok">
      <img src="/images/twitter.jpg" alt="Twitter">
    </div>
  </div>
</div>

<div class="rodape-coluna-direita">
  <h3>Newsletter</h3>
  <p>Cadastre-se e seja o primeiro(a) a ser notificado sobre nossas promoções e novidades. Estilo e Liberdade para você!</p>

  <div class="newsletter-form">
    <input type="text" placeholder="Digite seu e-mail">
    <button>ASSINAR</button>
  </div>
</div>