.grupo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 25s infinite linear;
    padding-right: 1em;
    height: 325px;
    background-color: #ddd;
}

.titulo1 {
    margin-top: 50px;
    font-family: arial;
    color: rgb(85, 2, 163);
    text-align: center;

}

.lateral {
    margin: 100px auto;
    width: 90%;
    border: 5px;
    display: flex;
    overflow-x: auto;
}

.lateral::-webkit-scrollbar {
    display: none;
}

.foto {
    flex: 0 0 5em;
    padding: 1em;
    width: 100%;
    height: 300px;
    border: 2px solid ;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    background-color: white;

}

.foto img {
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.foto:hover img {
    transform: scale(0.80);
    /* zoom mais discreto */
}

@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }

}

.titulo {
    font-family: arial;
    color: rgb(85, 2, 163);
    text-align: center;
    margin-bottom: 30px;
}

.titulo h2 {
    margin-top: 15px;
}

.grade {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 900px) {
    .grade {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 600px) {
    .grade {
        grid-template-columns: 1fr;
    }
}