<app-banner></app-banner>
<app-beneficios></app-beneficios>
<app-faixa></app-faixa>
<h2 class="titulo1">Catalogo de Produtos</h2>

<div class="lateral">
    <div class="grupo">
        <div class="foto"><img src="/images/camiseta_1_cinza_claro.png" alt="./camiset"></div>
        <div class="foto"><img src="/images/camiseta_2_cinza_escuro.png" alt="./camiset"></div>
        <div class="foto"><img src="/images/camiseta_3_preta.png" alt="./camiset"></div>
        <div class="foto"><img src="/images/camisa_6_Azulbb.jpg" alt="./camiset"></div>
        <div class="foto"><img src="/images/camiseta_4_off_white.png" alt="./camiset"></div>
        <div class="foto"><img src="/images/camiseta_5_azul_petroleo.png" alt="./camiset"></div>
        <div class="foto"><img src="/images/guaxinim.png" alt="./camiset"></div>
    </div>

    <div class="grupo">
        <div class="foto"><img src="/images/shorts_1_moletom_cinza.png" alt="./camiset"></div>
        <div class="foto"><img src="/images/camiseta_2_cinza_escuro.png" alt="./camiset"></div>
        <div class="foto"><img src="/images/shorts_3_cinza_claro_script.png" alt="./camiset"></div>
        <div class="foto"><img src="/images/shorts_4_preto_cordao_branco.png" alt="./camiset"></div>
        <div class="foto"><img src="/images/shorts_5_preto_logo_lateral.jpg" alt="./camiset"></div>
        <div class="foto"><img src="/images/calca_6_azulbebe.png" alt="./camiset"></div>
    </div>
</div>

<h1 class="titulo">Produtos em destaque</h1>

<div class="container" *ngIf="produtosDestaque.length > 0">
    <div class="grade">
        @for (produto of produtosDestaque; track produto.id) {
            <app-card (click)="irPageProduto(produto)" [produto]="produto"></app-card>
        }
    </div>
</div>

<p class="sem-produtos" *ngIf="produtosDestaque.length === 0">
    Nenhum produto em destaque no momento.
</p>

<app-depoimentos></app-depoimentos>