<div class="content-container">
  <form>
    <img src="images/guaxinim.png" alt="F.CUSTOM" class="mascote">

    <h1>Esqueceu sua senha?</h1>

    <p>
      Digite seu e-mail para receber um link
      para redefinir sua senha.
    </p>

    <label for="email">E-mail</label>

    <input
      class="input-simples"
      id="email"
      name="email"
      type="email"
    />

    <button type="submit" class="input-submeter">
      Enviar link
    </button>

    <span class="cadastro">
      Lembrou sua senha?
      <a routerLink="/login" class="link">Voltar para o login</a>
    </span>
  </form>
</div>